- [Authentication](../MAIN_MD/2_SQUAREMIND_Authentication.md) > **Vefication**
<img src="https://github.com/HarleyGotardo/square-mind/assets/111520613/f98e06c8-f52d-4fec-904e-771fba1fc6c0" alt="Add Product" width="300"/>

# Verification
> This is used to verify the user’s email address or mobile number.

## Input:
● The user shall fill the verification input.

## Process:
● The system shall send a verification code to the user’s email address or mobile number, depending on what the user used during the registration process.

● The user shall receive the verification code

● The user shall copy the verification code and paste it into the input entry.

● The user shall tap the “Verify” button.

## Output:
● The system shall verify the user and will be redirected to password creation.
